<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Time</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="inner">
        <header>
            <h1>MOVIES</h1>
        </header>

        <script id="genres-template" type="x-tmpl-mustache">
            {{#genres}}
                <li class="link"><a href="#!{{.}}">{{.}}</a></li>
            {{/genres}}
        </script>

        <script id="movies-template" type="x-tmpl-mustache">
            {{#movies}}
                <button id="dugme" class="trigger" onclick="probno1()" style="height 600px;">
                    <div>
                        <h4>{{title}}</h4>
                        <img src="{{posterUrl}}" alt="poster" height="150px" />
                    </div>
                    <div>
                        <p style="font-size: 10px; margin: 0;">Year: {{year}}</p>
                        <p style="font-size: 10px; margin: 0;">Runtime: {{runtime}}</p>
                        <p style="font-size: 10px; margin: 0;">Genres: {{genres}}</p>
                        <p style="font-size: 10px; margin: 0;">Director: {{director}}</p>
                        <p style="font-size: 10px; margin: 0;">Actors: {{actors}}</p>
                        <p style="font-size: 10px; margin: 0;">Plot: {{plot}}</p>
                    </div>
                    
                </button>
            {{/movies}}
        </script>

        <script id="prozor1-template" type="x-tmpl-mustache">
            {{#movies}}
                <h4>{{title}}</h4>
                <img src="{{posterUrl}}" alt="poster" width="150px" />
                <p>Year: {{year}}</p>
                <p>Runtime: {{runtime}}</p>
                <p>Genres: {{genres}}</p>
                <p>Director: {{director}}</p>
                <p>Actors: {{actors}}</p>
                <p>Plot: {{plot}}</p>
            {{/movies}}
        </script>
      
        
        <aside>
            <ul id="genres"></ul>
        </aside>
      
        <main class="container">
            <!-- <button class="trigger">probno</button> -->
            
            <div id="movies"></div>
            <div id="prozor" class="prozor" style="display:none;">
                    <button class="close-button">&times;</button>
                <div id="prozor1" class="modal-content">
                    
                </div>
            </div>
        </main>
    
        <footer>
            <!--START CONTACT INFO-->
            <p class="footer__p">Posted by: Jelena</p>
            <p class="footer__p">Contact information: 
                <a href="mailto:someone@example.com">someone@example.com</a>
            </p>
            <p class="footer__p">&copy; Copyright</p>
            <!--END CONTACT INFO-->
        </footer>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
    <script src="script/script.js"></script>
   
	<script>
		App.start();
    </script>
    
    <script src="script/new_script.js"></script>
  
</body>
</html>