body {
    background-color: black;
}

#inner{
    width: 90%;
    min-height: 680px;
	margin: auto;
	border: 2px solid black;
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 110px fit-content(510px) 50px;
    border-radius: 15px;
    background-color: whitesmoke;
}

header {
	grid-column-start: 1;
    grid-column-end: span col-end;
	border-bottom: 2px solid black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: center;
}

aside {
	border-right: 2px solid black;
	overflow: hidden;
}

main {
	overflow: scroll;
}

footer {
	grid-column-start: 1;
    grid-column-end: span col4-end;
    grid-row-start: 3;
	border-top: 2px solid black;	
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* .container{
	display: grid;
} */

.trigger {
	
	
	display: inline;
	margin: 2%;
	text-align: center;

	
}


#dugme{
	width: 20%;
	height: 400px;

}


.footer {
    border-top: 1px solid black;
    clear: both;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__p {
    margin: 0%;
    text-align: center;
}

.prozor {
	display: none;
	position: fixed;
	top: 5%;
	left: 25%;
	background-color: rgb(231, 209, 169);
	width: 50%;
	height: 90%;
	
}



/* The Modal (background)
/* .prozor {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}*/
/* .close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}  */

.opis {
	font-size: 10px;
}